In [1]:
import pandas as pd

data = {'id': range(1, 40000001),
        'name': ['pandas测试_' + str(each) for each in range(1, 40000001)]}

df = pd.DataFrame(data)

df.head()

   id        name
0   1  pandas测试_1
1   2  pandas测试_2
2   3  pandas测试_3
3   4  pandas测试_4
4   5  pandas测试_5

In [2]:
print(df.index.name)

None

In [3]:
# 假设df是你的DataFrame
sampled_df = df.sample(n=40000)

# 显示抽取的数据
print(sampled_df.head())
print(sampled_df.shape)

                id               name
10290814  10290815  pandas测试_10290815
32947879  32947880  pandas测试_32947880
2325945    2325946   pandas测试_2325946
4058621    4058622   pandas测试_4058622
14093432  14093433  pandas测试_14093433
(40000, 2)

In [4]:
sampled_df = df.sample(n=40000)
sampled_df.head()

                id               name
15265307  15265308  pandas测试_15265308
16688816  16688817  pandas测试_16688817
37821128  37821129  pandas测试_37821129
38520034  38520035  pandas测试_38520035
39296898  39296899  pandas测试_39296899

In [5]:
import time
def timer_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time() 
        result = func(*args, **kwargs) 
        end_time = time.time() 
        execution_time = end_time - start_time  
        print(f"函数 {func.__name__} 的运行时间为 {execution_time} 秒")
        return result
    return wrapper

# @timer_decorator
# def my_function():
#     print('111111')
#     pass

# my_function()  # 调用你的函数

In [6]:
sampled_df.reset_index().min()

index                 1047
id                    1048
name     pandas测试_10000277
dtype: object

In [7]:
@timer_decorator
def query_use(df,sampled_df):
    sampled_ids = sampled_df['id'].tolist()

    query_string = 'id in @sampled_ids'
    matched_df = df.query(query_string)
    return matched_df

query_use = query_use(df,sampled_df)
query_use.head()

函数 query_use 的运行时间为 0.6182723045349121 秒

        id           name
1047  1048  pandas测试_1048
1794  1795  pandas测试_1795
2197  2198  pandas测试_2198
3012  3013  pandas测试_3013
3352  3353  pandas测试_3353

In [8]:
@timer_decorator
def isin_use(df,sampled_df):
    matched_df = df[df['id'].isin(sampled_df['id'])]
    return matched_df

isin_use = isin_use(df,sampled_df)
isin_use.head()

函数 isin_use 的运行时间为 0.48399996757507324 秒

        id           name
1047  1048  pandas测试_1048
1794  1795  pandas测试_1795
2197  2198  pandas测试_2198
3012  3013  pandas测试_3013
3352  3353  pandas测试_3353

In [9]:
@timer_decorator
def where_use(df,sampled_df):

    sampled_ids = sampled_df['id'].tolist()
    matched_df = df['id'].where(df['id'].isin(sampled_ids))
    matched_df = matched_df.dropna()
    return matched_df

where_use = where_use(df,sampled_df)
where_use.head()

函数 where_use 的运行时间为 0.6667442321777344 秒

1047    1048.0
1794    1795.0
2197    2198.0
3012    3013.0
3352    3353.0
Name: id, dtype: float64

In [10]:
@timer_decorator
def loc_use(df,sampled_df):
    sampled_ids = sampled_df['id'].tolist()
    matched_df = df.loc[df['id'].isin(sampled_ids)]

    # 显示匹配的数据
    return matched_df

loc_use = loc_use(df,sampled_df)
loc_use.head()

函数 loc_use 的运行时间为 0.4856691360473633 秒

        id           name
1047  1048  pandas测试_1048
1794  1795  pandas测试_1795
2197  2198  pandas测试_2198
3012  3013  pandas测试_3013
3352  3353  pandas测试_3353

In [11]:
@timer_decorator
def other_use(df,sampled_df):
    sampled_ids = sampled_df['id'].tolist()

    # 然后，我们可以使用这个列表和loc函数来查询df
    matched_df = df.loc[df['id'].isin(sampled_ids)]
    return matched_df

other_use = other_use(df,sampled_df)
other_use.head()

函数 other_use 的运行时间为 0.48153257369995117 秒

        id           name
1047  1048  pandas测试_1048
1794  1795  pandas测试_1795
2197  2198  pandas测试_2198
3012  3013  pandas测试_3013
3352  3353  pandas测试_3353

In [12]:
@timer_decorator
def reset_index_use(df,sampled_df):
 
    sampled_ids = sampled_df['id'].tolist()
    # 然后，我们可以重置df的索引为'id'列
    df.set_index('id', inplace=True)
    # 最后，我们可以使用loc函数和sampled_ids来查询df
    matched_df = df.loc[sampled_ids]
    matched_df.reset_index(inplace=True)
    return matched_df
    
reset_index_use = reset_index_use(df,sampled_df)
reset_index_use.head()

函数 reset_index_use 的运行时间为 1.1022207736968994 秒

         id               name
0  15265308  pandas测试_15265308
1  16688817  pandas测试_16688817
2  37821129  pandas测试_37821129
3  38520035  pandas测试_38520035
4  39296899  pandas测试_39296899

In [13]:
@timer_decorator
def reset_index_use_mdethod(df,sampled_df):
    
    sampled_ids = sampled_df['id'].tolist()

    # 然后，我们可以将df和sampled_df的索引设置为'id'列
    df.set_index('id', inplace=True)
    sampled_df.set_index('id', inplace=True)

    # 使用loc函数和sampled_ids来查询df
    matched_df = df.loc[sampled_ids]

    # 重置df和sampled_df的索引
    df.reset_index(inplace=True)
    sampled_df.reset_index(inplace=True)
    matched_df.reset_index(inplace=True)
    return matched_df


reset_index_use_mdethod = reset_index_use_mdethod(df,sampled_df)
reset_index_use_mdethod.head()

KeyError: "None of ['id'] are in the columns"