In [1]:
%%time

UsageError: %%time is a cell magic, but the cell body is empty. Did you mean the line magic %time (single %)?

In [ ]:
import pandas as pd

# # 假设 A 和 B 是两个 dataFrame
A = pd.DataFrame({'id': [1, 2, 3, 4], 'number': [10, 20, 30, 40]})
B = pd.DataFrame({'id': [2, 3, 5], 'number': [50, 60, 70]})

In [ ]:
A

In [ ]:
B

In [ ]:
for i in range(len(B)):
    for j in range(len(A)):
        if A['id'][j] == B['id'][i]:
            A['number'][j] = B['number'][i]
            break
A

In [42]:
%%time
import pandas as pd

# # 假设 A 和 B 是两个 dataFrame
A = pd.DataFrame({'id': [1, 2, 3, 4], 'number': [10, 20, 30, 40]})
B = pd.DataFrame({'id': [2, 3, 5], 'number': [50, 60, 70]})

for i in range(len(B)):
    for j in range(len(A)):
        if A['id'][j] == B['id'][i]:
            A['number'][j] = B['number'][i] 
            break         
A

CPU times: total: 0 ns
Wall time: 997 µs

   id  number
0   1      10
1   2      50
2   3      60
3   4      40

In [49]:
%%time
import pandas as pd
# 创建 DataFrame A 和 B
A = pd.DataFrame({'id': [1, 2, 3, 4], 'number': [10, 20, 30, 40]})
B = pd.DataFrame({'id': [2, 3, 5], 'number': [50, 60, 70]})

C = A.merge(B, on='id', how='left')
C['number'] = C['number_y'].fillna(C['number_x'])
# del C['number_x']
# del C['number_y']

# 输出结果
C = C[['id','number']]
C

CPU times: total: 15.6 ms
Wall time: 3.26 ms

   id  number
0   1    10.0
1   2    50.0
2   3    60.0
3   4    40.0