In [1]:
import pandas as pd

In [2]:
import pandas as pd
test_list = [1,2,3,4,5]
t_series = pd.Series(test_list)

data = {
    'name':['Beijing','Shanghai','Xiamen','Wuhan','Chizhou'],
    'year':[2000,2001,2002,2001,2002],
    'stage':[1,0,1,0,0]
}
t_dataframe = pd.DataFrame(data)
print(t_series,'\n')
print(t_dataframe)

0    1
1    2
2    3
3    4
4    5
dtype: int64

       name  year  stage
0   Beijing  2000      1
1  Shanghai  2001      0
2    Xiamen  2002      1
3     Wuhan  2001      0
4   Chizhou  2002      0

In [3]:
import pandas as pd