In [1]:
import pandas as pd
 
data = {'col1': [1, 2], 'col2': [3, 4]}
index = ['row1', 'row2']
df = pd.DataFrame(data, index=index)
df

      col1  col2
row1     1     3
row2     2     4

In [2]:
import pandas as pd

index = pd.Index([1, 2, 3, 4], name='my_index')
index

Index([1, 2, 3, 4], dtype='int64', name='my_index')

In [3]:
import pandas as pd
 
data = {'col1': [1, 2, 12, 13], 'col2': [3, 4, 34, 35 ]}
df = pd.DataFrame(data, index=index)
df

          col1  col2
my_index
1            1     3
2            2     4
3           12    34
4           13    35

In [4]:
import pandas as pd
data = {'col1': [1, 2, 12, 13], 'col2': [3, 4, 34, 35 ]}
myindex = pd.Index(['row1', 'row2', 'row3', 'row4'], name='my_index')
df = pd.DataFrame(data, index=myindex)
df

          col1  col2
my_index
row1         1     3
row2         2     4
row3        12    34
row4        13    35

In [5]:
datetime_index = pd.DatetimeIndex(['2021-01-01', '2021-01-02'], freq='D')
datetime_index

DatetimeIndex(['2021-01-01', '2021-01-02'], dtype='datetime64[ns]', freq='D')

In [6]:
timedelta_index = pd.TimedeltaIndex(['1 days', '2 days'])
timedelta_index

TimedeltaIndex(['1 days', '2 days'], dtype='timedelta64[ns]', freq=None)

In [7]:
period_index = pd.PeriodIndex(['2021-01-01', '2021-01-02'], freq='D')
period_index

PeriodIndex(['2021-01-01', '2021-01-02'], dtype='period[D]')

In [8]:
range_index = pd.RangeIndex(start=0, stop=5, step=1)
range_index

RangeIndex(start=0, stop=5, step=1)

In [11]:
import pandas as pd
data = {'col1': [1, 2, 12, 13], 'col2': [3, 4, 34, 35 ]}
myindex = pd.Index(['row1', 'row2', 'row3', 'row4'], name='my_index')
df = pd.DataFrame(data, index=myindex)
print(df.index.dtype)

object

In [12]:
import pandas as pd
data = {'col1': [1, 2, 12, 13], 'col2': [3, 4, 34, 35 ]}
myindex = pd.Index([100,101,102,103], name='my_index')
df = pd.DataFrame(data, index=myindex)
print(df.index.dtype)

int64

In [3]:

import pandas as pd

# 创建一个DataFrame
df = pd.DataFrame({
    'Column1': [1, 2, 3],
    'Column2': ['a', 'b', 'c'],
    'Column3': [True, False, True]
})

# 通过列索引访问列
column1_df = df['Column1']
print(type(column1_df),'\n')
column1_df

<class 'pandas.core.series.Series'>

0    1
1    2
2    3
Name: Column1, dtype: int64

In [4]:
more_column_df = df[['Column1','Column2']]
print(type(more_column_df),'\n')
more_column_df

<class 'pandas.core.frame.DataFrame'>

   Column1 Column2
0        1       a
1        2       b
2        3       c

In [6]:
import pandas as pd
s = pd.Series([1, 2, 3, 4, 5, 6],
index=['a', 'b', 'a', 'a', 'a', 'c'])
print(type(s['a']))
s['a']

<class 'pandas.core.series.Series'>

a    1
a    3
a    4
a    5
dtype: int64

In [8]:
print(type(s[['c', 'b']]))
s[['c', 'b']]

<class 'pandas.core.series.Series'>

c    6
b    2
dtype: int64

In [9]:
s = pd.Series(['a', 'b', 'c', 'd', 'e', 'f'],
               index=[1, 3, 1, 2, 5, 4])
print(type(s[1]),'\n')
s[1]

<class 'pandas.core.series.Series'>

1    a
1    c
dtype: object

In [4]:
import pandas as pd  
df_Test = pd.DataFrame(  
{'time':['2021-05-11','2021-05-12','2021-05-13'],'count':[1,2,3]},index=[1,2,3])  
  
N_df_Test = df_Test.set_index(['time'],drop=True)  
print(N_df_Test)

            count
time
2021-05-11      1
2021-05-12      2
2021-05-13      3

In [ ]:
# 参数说明
# keys：类似标签或数组的标签或标签/数组的列表  
# drop：默认为True删除要用作新索引的列  
# append：True追加到现有索引。
# inplace：是否在原数据中修改  
# verify_integrity：True检测新的索引是否重复。

In [5]:
new_index = N_df_Test.index.rename('这是索引哦')  
N_df_Test.index=new_index  
print(N_df_Test)

            count
这是索引哦
2021-05-11      1
2021-05-12      2
2021-05-13      3

In [10]:
import pandas as pd  
df_Test = pd.DataFrame(  
{'time':['2021-05-11','2021-05-12','2021-05-13'],'count':[1,2,3]},  
index=list('abc'))  
print(df_Test,'\n')  
print(df_Test.reset_index,'\n')
print(df_Test.reset_index(drop=True))

         time  count
a  2021-05-11      1
b  2021-05-12      2
c  2021-05-13      3

<bound method DataFrame.reset_index of          time  count
a  2021-05-11      1
b  2021-05-12      2
c  2021-05-13      3>

         time  count
0  2021-05-11      1
1  2021-05-12      2
2  2021-05-13      3

In [12]:
import pandas as pd  
df_Test_3 = pd.DataFrame(  
{'time':['2021-05-11','2021-05-12','2021-05-13'],'count':[1,2,3]},  
index = [0,1,2]  
)  
print(df_Test_3,'\n')  
print(df_Test_3.reindex([1,2,3,4,5]),'\n')  
print(df_Test_3.reindex(['a','b',5]))

         time  count
0  2021-05-11      1
1  2021-05-12      2
2  2021-05-13      3

         time  count
1  2021-05-12    2.0
2  2021-05-13    3.0
3         NaN    NaN
4         NaN    NaN
5         NaN    NaN

  time  count
a  NaN    NaN
b  NaN    NaN
5  NaN    NaN

In [13]:
print(df_Test_3.reindex([1,2,3,4,5],method='nearest'))

         time  count
1  2021-05-12      2
2  2021-05-13      3
3  2021-05-13      3
4  2021-05-13      3
5  2021-05-13      3

In [14]:
print(df_Test_3.reindex(columns=['New_time','New_count']))

   New_time  New_count
0       NaN        NaN
1       NaN        NaN
2       NaN        NaN

In [15]:
print(df_Test_3.reindex(index = [0,2],columns=['time','count']))

         time  count
0  2021-05-11      1
2  2021-05-13      3

In [ ]:
# 重命名列索引
df.rename(columns={'Column1': 'NewColumn1'}, inplace=True)

# 添加新列
df['NewColumn'] = [4, 5, 6]

# 删除列
df.drop(columns='NewColumn', inplace=True)

# 查看列的数据类型
print(df.dtypes)

# 筛选多列
selected_columns = df[['NewColumn1', 'Column2']]