In [1]:
import pandas as pd
import numpy as np

np.random.seed(0)

multi_index = pd.MultiIndex.from_product([list('ABCD'), ['Female','Male']], names=('School', 'Gender'))
multi_column = pd.MultiIndex.from_product([['Height', 'Weight'], ['Freshman','Senior','Sophomore','Junior']], names=('Indicator', 'Grade'))
df_multi = pd.DataFrame(np.c_[(np.random.randn(8,4)*5 + 163).tolist(), (np.random.randn(8,4)*5 + 65).tolist()],
                        index = multi_index, columns = multi_column).round(1)

In [2]:
multi_index

MultiIndex([('A', 'Female'),
            ('A',   'Male'),
            ('B', 'Female'),
            ('B',   'Male'),
            ('C', 'Female'),
            ('C',   'Male'),
            ('D', 'Female'),
            ('D',   'Male')],
           names=['School', 'Gender'])

In [3]:
multi_column

MultiIndex([('Height',  'Freshman'),
            ('Height',    'Senior'),
            ('Height', 'Sophomore'),
            ('Height',    'Junior'),
            ('Weight',  'Freshman'),
            ('Weight',    'Senior'),
            ('Weight', 'Sophomore'),
            ('Weight',    'Junior')],
           names=['Indicator', 'Grade'])

In [4]:
df_multi

Indicator       Height                           Weight                   \
Grade         Freshman Senior Sophomore Junior Freshman Senior Sophomore
School Gender
A      Female    171.8  165.0     167.9  174.2     60.6   55.1      63.3
       Male      172.3  158.1     167.8  162.2     71.2   71.0      63.1
B      Female    162.5  165.1     163.7  170.3     59.8   57.9      56.5
       Male      166.8  163.6     165.2  164.7     62.5   62.8      58.7
C      Female    170.5  162.0     164.6  158.7     56.9   63.9      60.5
       Male      150.2  166.3     167.3  159.3     62.4   59.1      64.9
D      Female    174.3  155.7     163.2  162.1     65.3   66.5      61.8
       Male      170.7  170.3     163.8  164.9     61.6   63.2      60.9

Indicator
Grade         Junior
School Gender
A      Female   65.8
       Male     63.5
B      Female   74.8
       Male     68.9
C      Female   66.9
       Male     67.1
D      Female   63.2
       Male     56.4

In [5]:
import numpy as np

a = np.array([1, 2])
b = np.array([3, 4])
result = np.c_[a, b]
result

array([[1, 3],
       [2, 4]])

In [6]:
df_multi.index

MultiIndex([('A', 'Female'),
            ('A',   'Male'),
            ('B', 'Female'),
            ('B',   'Male'),
            ('C', 'Female'),
            ('C',   'Male'),
            ('D', 'Female'),
            ('D',   'Male')],
           names=['School', 'Gender'])

In [13]:
df_multi.index.names

FrozenList(['School', 'Gender'])

In [17]:
df_multi.index.names[0]

'School'

In [18]:
df_multi.index.values

array([('A', 'Female'), ('A', 'Male'), ('B', 'Female'), ('B', 'Male'),
       ('C', 'Female'), ('C', 'Male'), ('D', 'Female'), ('D', 'Male')],
      dtype=object)

In [19]:
df_multi.index.values[0]

('A', 'Female')

In [20]:
df_multi.index.values[0][0]

'A'

In [21]:
df_multi.columns.names

FrozenList(['Indicator', 'Grade'])

In [22]:
df_multi.columns.values

array([('Height', 'Freshman'), ('Height', 'Senior'),
       ('Height', 'Sophomore'), ('Height', 'Junior'),
       ('Weight', 'Freshman'), ('Weight', 'Senior'),
       ('Weight', 'Sophomore'), ('Weight', 'Junior')], dtype=object)

In [23]:
df_multi.index.get_level_values(0)

Index(['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D'], dtype='object', name='School')

In [24]:
df_multi.index.get_level_values(1)

Index(['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'], dtype='object', name='Gender')

In [26]:
# df_multi.index.get_level_values(2)

In [27]:
levels0 = ['A', 'A', 'B']
levels1 = [1, 2, 1]
index = pd.MultiIndex.from_arrays([levels0, levels1])
index

MultiIndex([('A', 1),
            ('A', 2),
            ('B', 1)],
           )

In [34]:
import pandas as pd
import numpy as np
pd_test1 = pd.DataFrame(
        np.random.randint(0,150,size=(4,3)),
        columns=['java','html5','python'],
        index=pd.MultiIndex.from_arrays
        (
            [
                ['a','b','c','d'],
                ['A','B','C','D']
            ]
        )
     
    )

pd_test1

     java  html5  python
a A   149    110      25
b B   121    118     117
c C    83    104     121
d D    70     31      13

In [31]:
pd_test1.index.names

FrozenList([None, None])

ValueError: all arrays must be same length

In [2]:
import pandas as pd
import numpy as np

# 假设这是您之前创建的DataFrame
pd_test1 = pd.DataFrame(
    np.random.randint(0, 150, size=(4, 3)),
    columns=['java', 'html5', 'python'],
    index=pd.MultiIndex.from_arrays(
        [
            ['a', 'b', 'c', 'd'],
            ['A', 'B', 'C', 'D']
        ]
    )
)

# 添加一个新的索引级别，这里我们使用一个简单的列表作为示例
new_index_level = ['Name1', 'Name2', 'Name3', 'Name4']

# 使用pd.MultiIndex.from_product来创建一个新的多级索引
# 这个新索引由现有的索引和新的name索引级别组成
new_index = pd.MultiIndex.from_product(
    [pd_test1.index, new_index_level],
    names=['Index1', 'Index2', 'Name']
)

# 将新的多级索引赋给DataFrame
pd_test1.index = new_index

# 打印结果查看
pd_test1

NotImplementedError: isna is not defined for MultiIndex